build/
.idea/
sass/
bootstrap.json

cache\.appcache
bootstrap.css
bootstrap.js
docs/*.*
docs/extjs/

docs/member-icons/

docs/output/

docs/resources/css/

docs/resources/images/

docs/resources/prettify/

docs/source/

bootstrap\.jsonp

jasmine/*.*
jasmine/lib/jasmine-3\.1\.0/

jasmine/spec/

jasmine/src/

node_modules/

package-lock\.json
sencha-error-*
docs/
