circle.metabolite{
		stroke:#cccccc;
}   
rect.reaction{
		stroke:black;
}    
text.metabolite{
	fill:black;
	font:10px sans-serif;
	text-anchor:middle;
}
text.reaction{
	fill:black;
	font:10px sans-serif;
	text-anchor:middle;
}

.absolute{
	position: absolute;
}

.D3viz{
  position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.D3vizExemple{
  position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.full-spectrum .sp-palette {
	max-width: 200px;
}
.brush{
	fill: #99BCE8;
	fill-opacity: 0.1;
	stroke: #99BCE8;
	shape-rendering: crispEdges;
}
.hide{
	fill-opacity: 0;
	opacity: 0;
  display: none;
}
/*
.tooltip {   
  pointer-events: none; 
}

.tooltip rect{  
  fill: white;
  stroke: #154B7D;
  stroke-width:2px;
}

.tooltip-text{   
  text-align: center;           
  width: auto;                  
  height: 28px;             
  font: 12px sans-serif;   
  pointer-events: none; 
  fill : #154B7D;
}
*/

.tooltip2 {
  border-radius: 15px 50px;
  background: #8AC007;
  padding: 5px; 
  position: absolute;
  top: 5%;
  right: 5%;
  border: 2px solid #154B7D;
  background: #fff;
  opacity: 1;
  color:  #154B7D;
  font-size: 15px;
  z-index: 120;
}

.tooltip2 img{
  width: 50px;
  height: 50px;
}

.link{
      background-repeat: initial;
}

.comparePanel .x-panel-header {
    padding-top:5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.comparedPanel .x-panel-header {
    padding-top:0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.menuBarViz {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px; 
  position: absolute;
  top: 50px;
  right: 5%;
  width: 300px;
  height: 50px;
  color:  #154B7D;
  font-size: 15px;
  z-index: 120;
}

.menuBarViz img{
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
  padding: 7px; 
}

.menuBarViz span:hover{
    background: #7FB5E4;
}

.menuBarViz span.active{
    background: #5FA2DD;
}

.menuBarViz span {
    margin: 0px 5px 0px 0px;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    float: left;
    cursor: pointer;
    width: 40px;
    width: 40px;
    border-radius: 20px;
}

.optionsViz {
  position: absolute;
  overflow: auto;
  white-space: nowrap;
  padding: 20px; 
  top: 110px;
  right: 5%;
  width: 300px;
  height: 300px;
  border: 1px solid #5FA2DD;
  background: #fff;
  opacity: 1;
  color:  #154B7D;
  font-size: 15px;
  z-index: 120;
}

.optionsViz img{
  width: 50px;
  height: 50px;
}

input[type=checkbox] {
  visibility: hidden;
}

.option {
    width: 100%;
    position: relative;
    margin : 0px 10px 20px 10px;
}

.textLegend {
    float:left;
    margin : 5px 5px 5px 15px;
}

/* ROUNDED ONE */
.roundedOne {
  float:left;
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  /*margin: 5px ;*/

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.roundedOne label{
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #aaa 0%, #154B7D 100%);
  background: -moz-linear-gradient(top, #aaa 0%, #154B7D 100%);
  background: -o-linear-gradient(top, #aaa 0%, #154B7D 100%);
  background: -ms-linear-gradient(top, #aaa 0%, #154B7D 100%);
  background: linear-gradient(top, #aaa 0%, #154B7D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;

  background: -webkit-linear-gradient(top, #154B7D 0%, #5FA2DD 100%);
  background: -moz-linear-gradient(top, #154B7D 0%, #5FA2DD 100%);
  background: -o-linear-gradient(top, #154B7D 0%, #5FA2DD 100%);
  background: -ms-linear-gradient(top, #154B7D 0%, #5FA2DD 100%);
  background: linear-gradient(top, #154B7D 0%, #5FA2DD 100%);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: 2px;
  left: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
